a
{
    text-decoration: none;
}

header{
    position: fixed ;
    width: 100vw;
    
    z-index: 999;
}
.top-header
{
    padding-top: 1vh;
    padding-inline: 6vw;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.top-header-left
{
    display: flex;
    align-items: center;
    gap:2vw;
    color: white;
}

.top-header-left >div>i
{
    color: $sp-orange;
}

.top-header-left >div
{
    display: flex;
    gap:1vw;
}
.top-header-right-button
{
    border: none;
    border-radius: 50px;
    padding: 1vh 2vw;
    color: white;
    background-color: $sp-orange;

    &:hover
    {
        opacity: 70%;
    }
}

.bottom-header{
    
    display: flex;
    justify-content: space-between;
    
    color: white !important;
    padding: 2vh 6vw;

}


.bottom-header-right
{
    display: flex;
    gap : 2vw ;
}

.bottom-header-left-link > a
{
    color: white !important;
    &:hover
    { color: $sp-orange !important; 
        
    }
}

.header-burger-button
{
    display: none;
}


@media (max-width:992px) {
    .header-burger-button    
    {
        display: flex;
        font-size: larger;
    }
    .bottom-header-right
    {
        display: none;
    }

    #burger:checked ~ .bottom-header-right
    {
        display: flex;
        position: fixed;
        background-color: white;
        color: black !important;
        height: 75vh;
        width: 90vw;
        padding: 3vw;
        top: 10%;
        flex-direction: column;
    }

    .bottom-header-left-link > a
    {
        color: black !important;
    }

}
