@import "../../variables";

// *menu

.menu
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}



.menuitem
{
    display: flex;
    margin-left: 2vw;
    gap: 3vh;
    a
    {
        text-decoration: none;
        font-weight: 500;
        color: black;   
    }

    

    div img 
    {
        width: 7vw;
        border-radius: 50%;
        border: 10px #ececec solid;
    }
    div div 
    {
        display: flex;
    }

    .price
    {
        color: #ffb03b;
        font-weight: 800;
    }

    
    
}

.radio {
    display: none;
}

.menuTypes
{
    display: flex ;
     gap: 2vw;
     
}

.glow:hover 
{
    color: #ffb03b !important;
}

#starters:checked ~ .starter
{
    display: none;
}

#salads:checked ~ .salad
{
    display: none;
}

#special:checked ~ .speciali
{
    display: none;
}

// * check menu

.card:hover
{
    background-color: #ffb03b;
    color: white !important;
}


@media (max-width:991px) {

    .menu
    {
    grid-template-columns: 1fr ;
    }
}

@media (max-width:767px) {
    
    
}

// * carousel


.sitem {
  filter: brightness(50%);
}

// *vedio

.play   
{
     top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 1vw;
    height: 1vw;
    padding: 7%;
}

section
{
    padding-bottom: 10vh;
}